/* Mulai code Anda dari baris terakhir */

* {
    box-sizing: border-box;
  }
  
  html, body,
  ul, ol, li,
  h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  /* Bagian Awal Rizki Alamsyah */
  .nav-ico {
    display: none;
  }
  
  
  .container {
    max-width: 1178px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .sliders {
    position: relative;
    overflow: hidden;
    background-size: cover;
  }
  .slide img {
    width: 100%;
    filter: brightness(50%);
    float: right;
    position: relative;
    float: right;
  }
  .slide {
    width: 100%;
    text-align: center;
    transition: 0.2s;
    position: relative;
    display: flex;
    -webkit-animation-name: slide_animation;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
  }
  @-webkit-keyframes slide_animation {
    0% {
      right: 0px;
    }
    10% {
      right: 0px;
    }
    20% {
      right: 1352px;
    }
    30% {
      right: 1352px;
    }
    40% {
      right: 2695px;
    }
    50% {
      right: 2695px;
    }
    60% {
      right: 1352px;
    }
    70% {
      right: 1352px;
    }
    80% {
      right: 0px;
    }
    90% {
      right: 0px;
    }
    100% {
      right: 0px;
    }
  }

  .bottom-wrapper{
      width: 100%;
  }
  .top-wrapper{
  text-align: left;
  position: absolute;
  top: 50px;
  padding: 100px;
  }
  .top-wrapper h1 {
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    animation-duration: 3s;
    float: left;
    color: white;
  }
  
  .top-wrapper p {
    font-size: 25px;
    margin-bottom: 3px;
    animation-duration: 3s;
    float: left;
    color: white;
    padding-top: 20px;
  }
  
  .btn-wrapper {
    text-align: center;
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .signup {
    background-color: #239b76;
  }
  
  .facebook {
    background-color: #3b5998;
    padding: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
    overflow: hidden;
    text-decoration: none;
  }
  
  .header-left img {
    height: 60px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 12px;
    color: white;
    float: left;
    transition: all 0.5s;
    text-decoration: none;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .lesson-wrapper {
  height: 720px;
  width: 100%;
  padding-top: 80px;
  background-color: #eaf1ff;
  background-size: cover;
  text-align: center;

  }
 
  .heading h1{
    color: #1b1a1b;
    letter-spacing: 15px;
    font-size: 30px;
  }
  
  .lesson {
    float: left;
    width: 18%;
    height: 550px;
    background-color: #fff;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgb(193, 203, 235);
    box-shadow: hsl(221, 30%, 77%) 3px 3px ;

  }
  .profile-icon {
    position: relative;
  }
  .lesson img {
    width: 80%;
  }
  .sosmed-wrapper {
  margin: 10px 0;
}
  
  .lesson-icon {
    position: relative;
  }
  
  .lesson-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: white;
  }
  
  .txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #b3aeb5;
  }
  
  .heading h3 {
    font-weight: normal;
  }
  /* Bagian Akhir Riski Alamsyah */


  /* Bagian Awal Risna */
  footer img {
    height: 60px;
    padding-left: 55px;
  }
  
  footer {
    width: 100%;
    height: 190px;
    background-color: rgba(34, 49, 52, 0.9);
    float: left;
  }

  .footer-list {
  text-align: center;
  padding-bottom: 5px; 
  font-size: 17px;
  color: white;
}

.footer-list li {
  padding-bottom: 10px;
  list-style: none;
  font-size: 16px;
  letter-spacing: 7px;
}

footer p {
  color: white;
  letter-spacing: 3px;
  padding-bottom: 10px;
  text-align: center;
}
  .contack {
    float: left;
  }
  .contack h2 {
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
    margin-right: 10px;
  }
  .contack-img img {
    height: 200px;
    width: 200px;
    margin-right: 10px;
  }
  .contents {
    height: 500px;
    margin-top: 100px;
  }
  
  .section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
  }
  
  .contents-item {
    float: left;
    padding-top: 40px;
    margin-right: 40px;
    width: 15%;
  }
  
  .contents-item p {
    font-size: 24px;
    margin-top: 30px;
    text-align: center;
  }
  
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
  }
/* Bagian Akhir Risna */



  /* Bagian Awal Rivan Adi */
  .message-wrapper {
    width: 100%;
    padding-top: 70px;
    text-align: center;
    position: relative;
  }
  .message-wrapper h2 {
    font-size: 20px;
    padding-bottom: 40px;
    text-align: center;
    position: relative;
  }
  .message-wrapper img {
    width: 670px;
    padding-bottom: 30px;
  }
  /* Bagian Akhir Rivan Adi */


  /* Bagian Awal Risma */
  .profile-wrapper {
    height: 700px;
    width: 100%;
    padding-bottom: 80px;
    padding-top: 70px;
    background-color: #eaf1ff;
    background-size: cover;
    text-align: center;

  }
 
  .heading h1{
    color: #1b1a1b;
    letter-spacing: 10px;
    font-size: 30px;
    padding: 30px;
  }
  
  .profile {
    float: left;
    width: 18%;
    background-color: #fff;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgb(193, 203, 235);
    box-shadow: hsl(221, 30%, 77%) 3px 3px ;
  }
  .profile-icon {
    position: relative;
  }
  .profile img {
    width: 80%;
  }
  .sosmed-wrapper {
  margin: 10px 0;
}
  
  .profile-icon {
    position: relative;
  }
  
  .profile-icon p {
    position: absolute;
    top: 44%;
    width: 100%;
    color: white;
  }
  
  .txt-contents {
    width: 90%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #010057;
  }
  .email {
    background-color: #ff4757;
  }
    
    .btn {
      padding: 12px 24px;
      color: white;
      display: inline-block;
      opacity: 0.8;
      border-radius: 4px;
      text-align: center;
      margin: 0 auto;
    }
    
    .btn:hover {
      opacity: 1;
    }
    /* Bagian Akhir Risma */